body
{
    color: rgb(0, 213, 255);
    text-align: left;
    font-family: sans-serif;
    font-size: 16px;
}

#cabecera
{
    background: rgb(25, 25, 27);
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
    color: rgb(20, 255, 7);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}

#cabecera #tagline
{
    color: aqua;
    padding: 0 0 0 1em;
    font-size: normal;
    font-size: 0.8em;
}


#container 
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;

}

#containerh1 
{
    font-size: 20px;

}

#post
{
    padding: 1em;
}

#footer 
{
    width: 900%;
    padding: 0;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;

}
